:root {
    --font: poppins, sans-serif;
}

.navbar {
    display: flex;
    font-family: var(--font);
    position: sticky;
}
.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-left: 25vw;
}
ul li a {
    text-decoration: none;
    color: black;
}
li a:hover {
    color: rgb(252, 134, 0);
}
.active-li {
    color: rgb(252, 134, 0);
    text-decoration: underline ;
    text-underline-offset: 1vh;
}
.logo img{
    height: 8.5vh;
}
.logo {
    display: flex;
    gap: px;
}
